version: '3.5'

networks:
  backend:
    driver: bridge
volumes:
  mysql:
    driver: local
  mongo:
    driver: local
  redis:
    driver: local

services:
### MySQL ################################################
  mysql:
    build: ./mysql
    environment:
      - MYSQL_DATABASE=default
      - MYSQL_USER=default
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
      - TZ=UTC
    volumes:
      - ./data/mysql-data:/var/lib/mysql
      - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - '3306:3306'  
    networks:
      - backend
###  Postgres ### 
  postgres:
    build: ./postgres
    volumes:
      - ./data/postgres-data:/var/lib/postgresql/data
      - ./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=default
      - POSTGRES_USER=default
      - POSTGRES_PASSWORD=secret
    networks:
      - backend
### MongoDB ###############################################
  mongo:
    build: ./mongo
    volumes:
      - ./data/mongo-data:/data/db
      - ./mongo/mongo-config:/data/configdb
    ports:
      - '27017:27017'
    networks:
      - backend  
### Redis ################################################
  redis:
    build: ./redis
    volumes:
      - ./data/redis-data:/data
    ports:
      - '6379:6379'
    networks:
      - backend  