networks:
  backend:
    driver: bridge

volumes:
  mysql:
    driver: ${VOLUMES_DRIVER}
  postgres:
    driver: ${VOLUMES_DRIVER}
  mongo:
    driver: ${VOLUMES_DRIVER}
  redis:
    driver: ${VOLUMES_DRIVER}
services:
### MySQL ###
  mysql:
    image: 'arm64v8/mysql:8.4' # Change to arm64v8 --> mysql8
    build: ./mysql
    container_name: docker-mysql
    command:
      mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --init-connect='SET NAMES UTF8;' --group_concat_max_len=5120
    environment:
      - MYSQL_DATABASE=default
      - MYSQL_USER=default
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
      - TZ=UTC
    volumes:
      - ${DATA_PATH_HOST}/mysql-data:/var/lib/mysql
      - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - '3306:3306'  
    networks:
      - backend
    restart: always  
###  Postgres ### 
  postgres:
    image: 'arm64v8/postgres:alpine'
    build: ./postgres
    container_name: docker-postgres
    volumes:
      - ${DATA_PATH_HOST}/pgdata:/var/lib/postgresql/data
      - ./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=default
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
    networks:
      - backend
### MongoDB ###
  mongo:
    image: 'arm64v8/mongo:3.6.22'
    build: ./mongo
    container_name: docker-mongo
    volumes:
      - ${DATA_PATH_HOST}/mongo-data:/data/db
      - ./mongo/mongo-config:/data/configdb
    ports:
      - '27017:27017'
    networks:
      - backend
    restart: always    
### Redis ###
  redis:
    image: 'arm64v8/redis'
    build: ./redis
    container_name: docker-redis
    volumes:
      - ${DATA_PATH_HOST}/redis-data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - '6379:6379'
    networks:
      - backend
    restart: always

###  dev notification ### 
  notification:
    platform: 'linux/amd64' # fix chip ARM
    image: 'we_notification'
    build: ./notification
    container_name: docker-notification
    ports:
      - '1337:1337'
    environment:
      - OAUTH_URI=https://auth-dev.wewumbo.io
      - OAUTH_CHECK_LOGIN=/api/v1/user/check-login
      - CLIENT_ID=1_ug1mmhlvphc4gw8w0s48wc0w880kosoc844cgw8gw84kcwwg4
      - CLIENT_SECRET=x1jv3rtdufkcssk0sckkkkwwook808go8ckcg0wkgc48wk0wo
      - API_URI=https://rest-dev.wewumbo.io
      - API_GET_INFO=/v1/user/info
      - MONGO_HOST=docker-mongo
      - MONGO_DB=dev_notification
      - REDIS_PREFIX=wedev_
      - REDIS_HOST=docker-redis
      - FIREBASE_SERVER_KEY=AIzaSyCzS0EW9dSWKXnDURNihLW21j9fd5Av0eQ
    networks:
      - backend
    extra_hosts:
      - rest-dev.wewumbo.io:host-gateway
      - auth-dev.wewumbo.io:host-gateway      
